/* Global styles-----------------------------------------------------------------*/

:root {
    --color-primary: #38E991;
    --color-secondary: #2C2F39;
    --color-tertiary: #50535C;
    --color-lightgrey: #e8e9ed;
    --color-white: #FFFFFF;

    --spacing-xxs: 0.25rem;  /* 4px */
    --spacing-xs:  0.5rem;   /* 8px */
    --spacing-sm:  0.75rem;  /* 12px */
    --spacing-md:  1rem;     /* 16px */
    --spacing-lg:  1.5rem;   /* 24px */
    --spacing-xl:  2rem;     /* 32px */
    --spacing-xxl: 3rem;     /* 48px */
    --spacing-3xl: 4rem;
    --spacing-4xl: 5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    all: unset;
}

body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

button, input, select, textarea {
    font-family: inherit;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    margin-block: 0.67em;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    margin-block: 0.67em;
}

h2 {
    margin-block: 0.83em;
}

h3 {
    margin-block: 1em;
}

h4 {
    margin-block: 1.33em;
}

p {
    margin-block: 0.5em;
}

.outer-container {
    min-height: 100vh;
    width: 100%;
    padding: var(--spacing-xxl) var(--spacing-sm);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-lightgrey);
}

.inner-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}

article, input, textarea {
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.10);
}